/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  } */
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  *{
    font-family: "open sans";
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container-carousel{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .7;;
}
.container{
    margin-top: 20px;
}
.container-contacto{
    height: 80vh;
}
#carousel .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
}
#carousel .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}